h1 {
        text-align: center;
        color: darkorchid;
        font-family: "Times New Roman";
        font-size: 250%;
        margin: 80px;
}

h2 {
        text-align: center;
        color: crimson;
        font-family: "Times New Roman";
        font-style: italic;
        font-size: 180%;
        margin: 50px;
}

p,ul,ol {
        text-align: center;
        font-style: "Times New Roman";
        color: chocolate;
}

ol {
        list-style-type: upper-roman;
        color: chocolate;
}

body {
        background-color: palegreen;
}
