h1 {
        text-align: center;
        font-style: italic;
}

tr:nth-child(even){background-color: lightgreen}
tr:nth-child(odd){background-color: mediumaquamarine}

body {
        background-color: thistle;
}
